@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: rgb(var(--foreground));
  padding: 1rem;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --light-bg: #ffffff;
  --dark-bg: #333333;
  --primary-color: #D1ADA6;
  --secondary-color: #C59C94;
  --accent-color: #B6827A;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
}

body {
  background-color: var(--light-bg);
  color: var(--text-color-light);
  font-family: Arial, sans-serif;
  padding: 1 rem;
}

.dark-mode {
  background-color: var(--dark-bg);
  color: var(--text-color-dark);
}

.hero-section {
  background-color: var(--primary-color);
  padding: 50px;
}

.cta-button {
  background-color: var(--accent-color);
  color: var(--text-color-dark);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.service-card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ededed;
}